html, body
{
width: 100%;
overflow-x: hidden;
}

body {
    margin: 0px;
    
}

.container {
    
    display: grid; 
    grid-template-columns: 1fr;    /* fr=fractional unit */
}

.nav-wrapper {
     display: none; /* none */
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}
/* .right-side {
    justify-content: flex-start;
} */
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;          /* changing text to upper case, does not effect html*/
    font-size: 0.9em;
}
  .brand-2 {
      z-index: 5;
      float: left;
      background-color: burlywood;
    border-radius: 70px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    margin-bottom: 10px;
    
  }
   
      /*looking to mobe name chris to left
} */
.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
   color: #8a8a8a;
   text-decoration: none;
   transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}
/*========================================= hamburger ================================== */
.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
    /*padding-left: 300px;*/      /* impacts menu open */
    margin: 0 20px;
   
}
.menu {
    margin: 0 30px 0 0;
    
}
.menu a {
    clear: right;
    text-decoration: none;
    color: burlywood;
    margin: 0 10px;
    line-height: 70px;
    margin-left: 20px;
    font-size: large;
}

span {
    color: #54D17A;
}

.nav-label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none; /* none */
    width: 26px;
    float: right;
}
#toggle {
    display: none; /* none to get rid of box*/
    
}


@media only screen and (max-width: 600px) {
    .nav-label {
        display: block;
        cursor: pointer;
        
        
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        position: relative;
        z-index: 10;
        background-color: black;
        
     
    }
    body #toggle:checked + .menu {        /* here is where dave said delete this +.menu... */
        display: block;                     /*forgot to put it back after solving other issues*/
    }                                           /* broke the whole thing*/
                                    /* took a glass of buffalo trace to solve*/
    
}

/* Portfolio styles =================================================================*/
.portfolio-items-wrapper {
    display: grid;
    height: 140%;
    grid-template-rows: 25% 25% 25%;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
} 
.image-blur {
transition: 1s;
filter: brightness(10%);
}
.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
    margin: auto;
    align-content: center;
    justify-content: center;
    min-width: 170px;
    /* max-width: 130px; */
    

}
.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent

}
.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: blueviolet;
}

/*--------
/* section---------------------------------------*/
.section-1-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: burlywood;
    flex: 1 300px ;
    /*flex-wrap: wrap;*/
    /* margin-top: 4.5%;
    width: 100%; */
    margin-right: 20px;
    margin: 15px 10px;
    border-radius: 60px;
    
  
    
}
.phase-wrapper {
    display: flex;
    -ms-text-justify: auto;
    /*flex-wrap: wrap; */
    flex-direction: column;  /*puts title and text on 2 diff lines */
    padding: 10px;
    background-color: turquoise;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 2px 1px 2px rebeccapurple;
    
    

}
.phase-title {
    
    margin: auto;
    
  
}
.phase-text1 , .phase-text2 , .phase-text3 {
    justify-self: center;
    margin: 20px;
    padding: 40px;
    background-color: whitesmoke;
    
    
    
    
}
.qigong-list {
    color: black;
    font-style: italic;
}

/* FOOTER */
        .footer {
            width: 100%;
            background: #852bbd;
            display: block;
         }
         
         .inner-footer {
             width: 95%;
             margin: auto;
             padding: 30px 10px;
             display: flex;
             flex-direction: column;
             flex-wrap: wrap;
             box-sizing: border-box;
             justify-content: center;
         }
         
        .footer-items {
            width: 25%;
            padding: 10px 20px;
            box-sizing: border-box;
            color: #fff;
        }
         
        .footer-items p {
            font-size: 16px;
            text-align: justify;
            line-height: 25px;
            color: #fff;
        }
         
        .footer-items h1 {
            color: #fff;
        }
         
        .border1 {
            height: 3px;
            width: 40px;
            background: #ff9800;
            color: #ff9800;
            background-color: #ff9800;
            border: 0px;
        }
         
        ul {
            list-style: none;
            color: #fff;
            font-size: 15px;
            letter-spacing: 0.5px;  
         }
         
        ul a {
            text-decoration: none;
            outline: none;
            color: #fff;
            transition: 0.3s;
        }
         
        ul a:hover {
            color: #ff9800;
        }
         
        ul li {
            margin: 10px 0;
            height: 25px;
        }
         
        li i {
            margin-right: 20px;
        }
         
        .social-media {
            width: 100%;
            color: #fff;
            text-align: center;
            font-size: 20px;
        }
         
        .social-media a {
            text-decoration: none;
        }
         
        .social-media i {
            height: 25px;
            width: 25px;
            margin: 20px 10px;
            padding: 4px;
            color: #fff;
            transition: 0.5s;
        }
         
        .social-media i:hover {
            transform: scale(1.5);
        }
         
        .footer-bottom {
            padding: 10px;
            background: #00121b;
            color: #fff;
            font-size: 12px;
            text-align: center;
        }
         
        /* for tablet mode view */
         
        @media screen and (min-width: 600px) and (max-width: 1275px) {
             .nav {
                display: none; 
            }
            .nav-wrapper {
                display: flex;
            }
            .logo-wrapper img {
                
                margin-top: 270px;
                

            }

            .portfolio-img-background {
                height: 350px;

            }
            
            .inner-footer {
                flex-direction: row;
            }
            .footer-items {
                width: 50%;
                
            }
            .section-1-wrapper {
                
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                
            }
            .phase-wrapper {
                align-self: flex-start;
                width: 25%;
                flex-basis: 15rem;
                
            }
            .phase-text1 {

                background-color: ghostwhite;
                
            }
            .phase-text2 {
                background-color: ghostwhite;

            }
            .phase-text3 {
                background-color: ghostwhite;
                /*flex: 2 15rem;*/

            }
            .portfolio-items-wrapper {
                
                
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
         
        /* for full screen view */
         
        @media screen and (min-width: 1276px) {
            .nav {
                display: none; 
            }
            .nav-wrapper {
                display: flex;

            }
            .logo-wrapper img {
                
                margin-top: 270px;
                min-width: 100px;
            }
            .portfolio-img-background {
                height: 350px;

            }
            .inner-footer {

            flex-direction: row;
            
            }
            .footer-items {
                width: 25%;
                
            }
            /*=======*/
            .section-1-wrapper {
                flex-direction: row;
                justify-content: center;
                
            }
            .phase-wrapper {
                flex: 1;
                align-self: flex-start;
                

            }
            .portfolio-items-wrapper {
                
                
                grid-template-columns: 1fr 1fr 1fr;
            }
            .form1 {
                display: flex;
                flex-direction: row;
                background-color: burlywood;
                border-radius: 15px;
                padding: 15px;
                margin-bottom: 10px;
                margin: 15px 15px;
            }

        }
        
         
        /* you can toggle the media screen view accordingly by changing the (max-width: px) to your convenience */
         
        
    